{% extends 'base.html.twig' %}

{% block title %}Hello WebordersController!{% endblock %}

{% block body %}

    <a href="{{ path('app_weborders_new') }}">New Order</a>

    <table class="table table-bordered">
        <tr><th>Order Number</th><th>Order Date</th></tr>    

        {% for weborder in pager %}
        <tr>
            <td>{{ weborder.orderNumber }}</td>
            <td>{{ weborder.createdOn }}</td>
        </tr>
        {% endfor %}

    </table>

    {{ pagerfanta(pager) }}

{% endblock %}
